<p>Hey {{name}},</p>
<p>Thank you for registering ant {{app_name}} </p>
<p>To confirm your email address, please click the link below.</p>
<p>
  <a
    href='{{url}}'
    style='padding:5px;text-decoration:none; border-radius:5px; background-color:black; color:white; font-weight:bold;'
  >Confirm</a>

</p>

<p>If you did not request this email you can safely ignore it.</p>