<p>Hey {{name}},</p>
<p>You forgot your password?</p>
<p>Click the link below in order to reset your password.</p>
<p>
  <a
    href='{{url}}'
    style='padding:5px;text-decoration:none; border-radius:5px; background-color:black; color:white; font-weight:bold;'
  >Reset password</a>

</p>

<p>If you did not request this email you can safely ignore it.</p>